In [16]:
import pandas as pd
array = [12, 14, 16, 18, 10, 20]
series_obj = pd.Series(array)
arr = series_obj.values
arr

array([12, 14, 16, 18, 10, 20], dtype=int64)

In [3]:
reshaped_arr = arr.reshape((3, 2))
# show
#(row , column)
reshaped_arr

array([[12, 14],
       [16, 18],
       [10, 20]], dtype=int64)

In [4]:
import pandas as pd
array = ["ankit","shaurya",
"shivangi", "priya",
"jeet","ananya"]
series_obj = pd.Series(array)
print("Given Series:\n", series_obj)
arr = series_obj.values
arr

Given Series:
 0       ankit
1     shaurya
2    shivangi
3       priya
4        jeet
5      ananya
dtype: object

array(['ankit', 'shaurya', 'shivangi', 'priya', 'jeet', 'ananya'],
      dtype=object)

In [7]:
reshaped_arr = arr.reshape((3, 2))
# show
print("After Reshaping: \n", reshaped_arr)

After Reshaping:
 [['ankit' 'shaurya']
 ['shivangi' 'priya']
 ['jeet' 'ananya']]

In [15]:
import pandas as pd
df = pd.DataFrame({'A': ['rupa', 'Bharti', 'reena'],
'B': ['Masters', 'Graduate', 'Graduate'],
'C': [27, 23, 21]})
df

        A         B   C
0    rupa   Masters  27
1  Bharti  Graduate  23
2   reena  Graduate  21

In [9]:
df.pivot(index ='A', columns ='B', values =['C', 'A'])

            C                A
B    Graduate Masters Graduate Masters
A
Boby       23     NaN     Boby     NaN
John      NaN      27      NaN    John
Mina       21     NaN     Mina     NaN

In [14]:
import pandas as pd
# creating dataframe
df = pd.DataFrame({'Name': ['rupa', 'bharti', 'purti', 'rupak', 'omkar', 'sita'],
'Gender': ['female', 'Female', 'female',
'Female', 'male', 'Male'],
'Age': [40, 36, 24, 35, 48, 80]})
print("Dataset")
print(df)
print("-"*40)
# categorizing in age groups
def age_bucket(age):
    if age <= 18:
        return "<18"
    else:
        return ">18"
    df['Age Group'] = df['Age'].apply(age_bucket)
    gender = pd.DataFrame(df.Gender.value_counts(normalize=True)*100).reset_index()
    gender.columns = ['Gender', '%Gender']
    df = pd.merge(left=df, right=gender, how='inner', on=['Gender'])
    table = pd.pivot_table(df, index=['Gender', '%Gender', 'Age Group'],
                           values=['Name'], aggfunc={'Name': 'count',})
    print("Table")
    print(table)

Dataset
     Name  Gender  Age
0    rupa  female   40
1  bharti  Female   36
2   purti  female   24
3   rupak  Female   35
4   omkar    male   48
5    sita    Male   80
----------------------------------------